{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Trendify-Cart</title>
    <meta name="description" content="" />
    <meta name="keywords" content="" />

    <!-- Favicons -->
    <link href="{% static 'assets/img/favicon.png' %}" rel="icon" />
    <link
      href="{% static 'assets/img/apple-touch-icon.png' %}"
      rel="apple-touch-icon"
    />

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com" rel="preconnect" />
    <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Poppins:wght@100;300;400;500;600;700;800;900&family=Raleway:wght@100;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />

    <!-- Vendor CSS Files -->
    <link
      href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}"
      rel="stylesheet"
    />
    <link
      href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}"
      rel="stylesheet"
    />
    <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet" />
    <link
      href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}"
      rel="stylesheet"
    />
    <link
      href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}"
      rel="stylesheet"
    />
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>


    <!-- Main CSS File -->
    <link href="{% static 'assets/css/main.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/css/cartsummary.css' %}" rel="stylesheet" />
  </head>

  <body class="starter-page-page">
    <header
      id="header"
      class="header d-flex align-items-center position-relative"
    >
      <div
        class="container-fluid container-xl position-relative d-flex align-items-center justify-content-between"
      >
        <a
          href="index.html"
          class="logo d-flex align-items-center me-auto me-lg-0"
        >
          <!-- Uncomment the line below if you also wish to use an image logo -->
          <!-- <img src="{% static 'assets/img/logo.png' %}" alt=""> -->
          <h1 class="sitename">Trendify<span>.</span></h1>
        </a>

        <nav id="navmenu" class="navmenu">
          <ul>
            <li><a href="#hero">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
          <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
        </nav>

        <a class="btn-getstarted" href="index.html#about">Get Started</a>
      </div>
    </header>

    <main class="main">
   <div class="container">
        {% if cart_products %}
        	{% for product in cart_products %}
        	
<div class="card mb-3">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="{{ product.image.url }}" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <center>
        <h5 class="card-title">{{ product.name }}</h5>
        <br/>
        <p class="card-text justified">{{ product.description }}</p>
        
        {% if product.is_sale %}
        <div class="d-flex justify-content-center small text-warning mb-2">
                <div class="bi-star-fill"></div>
                &nbsp;&nbsp;Sale!&nbsp;&nbsp;
                <div class="bi-star-fill"></div>
                </div>

                <!-- Product price-->
                <strike>
                ${{ product.price }}
                </strike>
                &nbsp;
                ${{ product.sale_price }}



        {% else %}
            ${{ product.price }}
            
        {% endif %}
            <br/><br/>
        <div class="row justify-content-center">
        <p>CSRF Token: {{ csrf_token }}</p>
      <p>Delete URL: {% url 'cart_delete' %}</p>

    <div class="col-md-2">Quantity:</div>
                <div class="col-md-2">
                <select class="form-select form-select-sm" id="select{{product.id}}">
                  
            {% for key, value in quantities.items %}
                {% if key == product.id|slugify %}
            <option selected>{{ value }}</option>
                {% endif %}
            {% endfor %}
                           

                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                </select>
                </div>
            </div>
            <br/><br/>
        <a href="{% url 'dashboard'%}" class="btn btn-secondary">Home</a>
        <button type="button" data-index="{{product.id}}" class="btn btn-secondary update-cart">Update</button>
       <button type="button" class="btn btn-danger delete-product" data-index="{{ product.id }}">Delete</button>

        
    </center>
      </div>
    </div>
  </div>
</div>



        	{% endfor %}
        	{% else %}
        	There's Nothing In Your Cart...
        	<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
        {% endif %}
    	</div>
    </main>

    <footer id="footer" class="footer dark-background">
      <div class="footer-top">
        <div class="container">
          <div class="row gy-4">
            <div class="col-lg-4 col-md-6 footer-about">
              <a href="index.html" class="logo d-flex align-items-center">
                <span class="sitename">GP</span>
              </a>
              <div class="footer-contact pt-3">
                <p>A08 Adam Street</p>
                <p>New York, NY 535022</p>
                <p class="mt-3">
                  <strong>Phone:</strong> <span>+1 5589 55488 55</span>
                </p>
                <p><strong>Email:</strong> <span>info@example.com</span></p>
              </div>
              <div class="social-links d-flex mt-4">
                <a href="#"><i class="bi bi-twitter"></i></a>
                <a href="#"><i class="bi bi-facebook"></i></a>
                <a href="#"><i class="bi bi-instagram"></i></a>
                <a href="#"><i class="bi bi-linkedin"></i></a>
              </div>
            </div>

            <div class="col-lg-2 col-md-3 footer-links">
              <h4>Useful Links</h4>
              <ul>
                <li>
                  <i class="bi bi-chevron-right"></i> <a href="#">Home</a>
                </li>
                <li>
                  <i class="bi bi-chevron-right"></i> <a href="#">About us</a>
                </li>
                <li>
                  <i class="bi bi-chevron-right"></i> <a href="#">Services</a>
                </li>
                <li>
                  <i class="bi bi-chevron-right"></i>
                  <a href="#">Terms of service</a>
                </li>
                <li>
                  <i class="bi bi-chevron-right"></i>
                  <a href="#">Privacy policy</a>
                </li>
              </ul>
            </div>

            <div class="col-lg-2 col-md-3 footer-links">
              <h4>Our Services</h4>
              <ul>
                <li>
                  <i class="bi bi-chevron-right"></i> <a href="#">Web Design</a>
                </li>
                <li>
                  <i class="bi bi-chevron-right"></i>
                  <a href="#">Web Development</a>
                </li>
                <li>
                  <i class="bi bi-chevron-right"></i>
                  <a href="#">Product Management</a>
                </li>
                <li>
                  <i class="bi bi-chevron-right"></i> <a href="#">Marketing</a>
                </li>
                <li>
                  <i class="bi bi-chevron-right"></i>
                  <a href="#">Graphic Design</a>
                </li>
              </ul>
            </div>

            <div class="col-lg-4 col-md-6 footer-newsletter">
              <h4>Our Newsletter</h4>
              <p>
                Subscribe to our newsletter and receive the latest news about
                our products and services!
              </p>
              <form
                action="forms/newsletter.php"
                method="post"
                class="php-email-form"
              >
                <div class="newsletter-form">
                  <input type="email" name="email" /><input
                    type="submit"
                    value="Subscribe"
                  />
                </div>
                <div class="newsletter-success-message">
                  Success! You are now subscribed to our newsletter.
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="row align-items-center justify-content-between">
          <div class="col-lg-6 text-lg-start text-center">
            <p>
              &copy; 2024 <strong><span>Trendify</span></strong
              >. All Rights Reserved
            </p>
            <p>
              Designed by <a href="https://bootstrapmade.com/">Santhosh Raj</a>
            </p>
          </div>
        </div>
      </div>
    </footer>
    <!-- End Footer -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <!-- Vendor JS Files -->
    <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'assets/vendor/aos/aos.js' %}"></script>
    <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
    <script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>

    <!-- Main JS File -->
    <script src="{% static 'assets/js/main.js' %}"></script>
   <script>
// Update Cart
$(document).on('click', '.update-cart', function(e){
    e.preventDefault();
    // grab the product id
    var productid = $(this).data('index');

    $.ajax({
    type: 'POST',
    url: '{% url 'cart_update' %}',
    data: {
      product_id: $(this).data('index'),
      product_qty: $('#select' + productid + ' option:selected').text(),
      csrfmiddlewaretoken: '{{ csrf_token }}',
      action: 'post'
    },
    success: function(json){
        //console.log(json)
        //document.getElementById("cart_quantity").textContent = json.qty
        location.reload();
    },

    error: function(xhr, errmsg, err){

    }


    });

})

// Delete Item From Cart
$(document).on('click', '.delete-product', function(e) {
    e.preventDefault();
console.log("{% url 'cart_delete' %}");

    $.ajax({
        type: 'POST',
        url: '{% url "cart_delete" %}',
        data: {
            product_id: $(this).data('index'),
            csrfmiddlewaretoken: '{{ csrf_token }}',
            action: 'post'
        },
        success: function(json) {
            // Reload the page to reflect the changes in the cart
            location.reload();
        },
        error: function(xhr, errmsg, err) {
            console.error("Error: " + errmsg); // Logs the error message to the console
            alert("An error occurred while trying to delete the item. Please try again."); // Show an alert to the user
        }
    });
}); 


</script>



  
  </body>
</html>
