{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <title>TRENDIFYDOT</title>
    <meta name="description" content="" />
    <meta name="keywords" content="" />

    <!-- Favicons -->
    <link href="https://te.legra.ph/file/78bfa2b669a9bcb327afc.jpg" rel="icon" />
    <link
      href="{% static 'assets/img/apple-touch-icon.png'%}"
      rel="apple-touch-icon"
    />

    <!-- Fonts -->
    <link href="{% static 'https://fonts.googleapis.com'%}" rel="preconnect" />
    <link
      href="{% static 'https://fonts.gstatic.com'%}"
      rel="preconnect"
      crossorigin
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />

    <!-- Vendor CSS Files -->
    <link
      href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css'%}"
      rel="stylesheet"
    />
    <link
      href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css'%}"
      rel="stylesheet"
    />
    <link href="{% static 'assets/vendor/aos/aos.css'%}" rel="stylesheet" />
    <link
      href="{% static 'assets/vendor/swiper/swiper-bundle.min.css'%}"
      rel="stylesheet"
    />
    <link
      href="{% static 'assets/vendor/glightbox/css/glightbox.min.css'%}"
      rel="stylesheet"
    />

    <!-- Main CSS File -->
    <link href="{% static 'assets/css/main.css'%}" rel="stylesheet" />
  </head>

  <body class="index-page">
    <header id="header" class="header d-flex align-items-center fixed-top">
      <div
        class="container-fluid container-xl position-relative d-flex align-items-center justify-content-between"
      >
        <a
          href="index.html"
          class="logo d-flex align-items-center me-auto me-lg-0"
        >
          <!-- Uncomment the line below if you also wish to use an image logo -->
          <!-- <img src="assets/img/logo.png" alt=""> -->
          <h1 class="sitename">TRENDIFY</h1>
          <span>.</span>
        </a>

        <nav id="navmenu" class="navmenu">
          <ul>
            <li>
              <a href="#hero" class="active">Home<br /></a>
            </li>
            <li><a href="#about">About</a></li>
            <li><a href="#portfolio">Categories</a></li>
            <li><a href="/">Order</a></li>
            <li><a href="/">Tracking</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
          <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
        </nav>

        {% if request.user.is_authenticated %}

        <a class="btn-getstarted" href="#">Welcome {{user.username}}</a>
        <li><a class="btn-getstarted" href="/logout">Logout</a></li>
        <li><a class="btn-getstarted" href="/dashboard">Dashboard</a></li>
        {% else %}
        <a class="btn-getstarted" href="/signup">SignIn</a>
        {% endif %}
      </div>
    </header>

    <main class="main">
      <!-- Hero Section -->
      <section id="hero" class="hero section dark-background">
        <img
          src="https://te.legra.ph/file/0caf70c916109dfb52c53.jpg"
          alt=""
          data-aos="fade-in"
        />

        <div class="container">
          <div
            class="row justify-content-center text-center"
            data-aos="fade-up"
            data-aos-delay="100"
          >
            <div class="col-xl-6 col-lg-8">
              <h2>
                Empowering Your Online Shopping Experience with TRENDIFY<span
                  >.</span
                >
              </h2>
              <p>
                Redefining Online Shopping with Advanced Features and Unmatched
                Convenience"
              </p>
            </div>
          </div>

          <div
            class="row gy-4 mt-5 justify-content-center"
            data-aos="fade-up"
            data-aos-delay="200"
          >
            <div
              class="col-xl-2 col-md-4"
              data-aos="fade-up"
              data-aos-delay="300"
            >
              <div class="icon-box">
                <i class="bi bi-binoculars"></i>
                <h3><a href="">Lorem Ipsum</a></h3>
              </div>
            </div>
            <div
              class="col-xl-2 col-md-4"
              data-aos="fade-up"
              data-aos-delay="400"
            >
              <div class="icon-box">
                <i class="bi bi-bullseye"></i>
                <h3><a href="">Dolor Sitema</a></h3>
              </div>
            </div>
            <div
              class="col-xl-2 col-md-4"
              data-aos="fade-up"
              data-aos-delay="500"
            >
              <div class="icon-box">
                <i class="bi bi-fullscreen-exit"></i>
                <h3><a href="">Sedare Perspiciatis</a></h3>
              </div>
            </div>
            <div
              class="col-xl-2 col-md-4"
              data-aos="fade-up"
              data-aos-delay="600"
            >
              <div class="icon-box">
                <i class="bi bi-card-list"></i>
                <h3><a href="">Magni Dolores</a></h3>
              </div>
            </div>
            <div
              class="col-xl-2 col-md-4"
              data-aos="fade-up"
              data-aos-delay="700"
            >
              <div class="icon-box">
                <i class="bi bi-gem"></i>
                <h3><a href="">Nemos Enimade</a></h3>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- /Hero Section -->

      <!-- About Section -->
      <section id="about" class="about section">
        <div class="container" data-aos="fade-up" data-aos-delay="100">
          <div class="row gy-4">
            <div class="col-lg-6 order-1 order-lg-2">
              <img
                src="{% static 'assets/img/about.jpg' %}"
                class="img-fluid"
                alt="About Tredify"
              />
            </div>
            <div class="col-lg-6 order-2 order-lg-1 content">
              <h3>Empowering Your Online Shopping Experience</h3>
              <p class="fst-italic">
                At Tredify, we are dedicated to revolutionizing the eCommerce
                landscape with our cutting-edge solutions and seamless features.
                Our platform is designed to provide a comprehensive shopping
                experience that meets all your needs.
              </p>
              <ul>
                <li>
                  <i class="bi bi-check2-all"></i>
                  <span
                    >100% Secure Authentication: Protecting your data with
                    robust security measures.</span
                  >
                </li>
                <li>
                  <i class="bi bi-check2-all"></i>
                  <span
                    >Shop Page Creation: Easily browse through our
                    well-organized shop page.</span
                  >
                </li>
                <li>
                  <i class="bi bi-check2-all"></i>
                  <span
                    >Product Categories: Add and manage products with
                    category-based organization.</span
                  >
                </li>
                <li>
                  <i class="bi bi-check2-all"></i>
                  <span
                    >Product Display: View products effortlessly on the shop
                    page.</span
                  >
                </li>
                <li>
                  <i class="bi bi-check2-all"></i>
                  <span
                    >Add to Cart: Conveniently add items to your cart for a
                    smooth shopping experience.</span
                  >
                </li>
                <li>
                  <i class="bi bi-check2-all"></i>
                  <span
                    >Check Out Page: Complete your purchases with our
                    streamlined checkout process.</span
                  >
                </li>
                <li>
                  <i class="bi bi-check2-all"></i>
                  <span
                    >Search Products: Find what you're looking for with
                    category-wise search functionality.</span
                  >
                </li>
                <li>
                  <i class="bi bi-check2-all"></i>
                  <span
                    >Cart Management: Easily remove or update items in your
                    cart.</span
                  >
                </li>
                <li>
                  <i class="bi bi-check2-all"></i>
                  <span
                    >Shipping Address Form: Input your shipping details for
                    accurate delivery.</span
                  >
                </li>
                <li>
                  <i class="bi bi-check2-all"></i>
                  <span
                    >Payment Integration: Securely pay using UPI, debit cards,
                    credit cards, or banking methods.</span
                  >
                </li>
                <li>
                  <i class="bi bi-check2-all"></i>
                  <span
                    >Order Tracking: Stay updated with real-time order status
                    tracking.</span
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>
      </section>
      <!-- /About Section -->

      <!-- Clients Section -->

      <!-- Features Section -->
      <section id="features" class="features section">
        <div class="container">
          <div class="row gy-4">
            <div
              class="features-image col-lg-6"
              data-aos="fade-up"
              data-aos-delay="100"
            >
              <img src="{% static 'assets/img/features-bg.jpg' %}" alt="" />
            </div>
            <div class="col-lg-6">
              <div
                class="features-item d-flex ps-0 ps-lg-3 pt-4 pt-lg-0"
                data-aos="fade-up"
                data-aos-delay="200"
              >
                <i class="bi bi-archive flex-shrink-0"></i>
                <div>
                  <h4>Est labore ad</h4>
                  <p>
                    Consequuntur sunt aut quasi enim aliquam quae harum pariatur
                    laboris nisi ut aliquip
                  </p>
                </div>
              </div>
              <!-- End Features Item-->

              <div
                class="features-item d-flex mt-5 ps-0 ps-lg-3"
                data-aos="fade-up"
                data-aos-delay="300"
              >
                <i class="bi bi-basket flex-shrink-0"></i>
                <div>
                  <h4>Harum esse qui</h4>
                  <p>
                    Excepteur sint occaecat cupidatat non proident, sunt in
                    culpa qui officia deserunt
                  </p>
                </div>
              </div>
              <!-- End Features Item-->

              <div
                class="features-item d-flex mt-5 ps-0 ps-lg-3"
                data-aos="fade-up"
                data-aos-delay="400"
              >
                <i class="bi bi-broadcast flex-shrink-0"></i>
                <div>
                  <h4>Aut occaecati</h4>
                  <p>
                    Aut suscipit aut cum nemo deleniti aut omnis. Doloribus ut
                    maiores omnis facere
                  </p>
                </div>
              </div>
              <!-- End Features Item-->

              <div
                class="features-item d-flex mt-5 ps-0 ps-lg-3"
                data-aos="fade-up"
                data-aos-delay="500"
              >
                <i class="bi bi-camera-reels flex-shrink-0"></i>
                <div>
                  <h4>Beatae veritatis</h4>
                  <p>
                    Expedita veritatis consequuntur nihil tempore laudantium
                    vitae denat pacta
                  </p>
                </div>
              </div>
              <!-- End Features Item-->
            </div>
          </div>
        </div>
      </section>
      <!-- /Features Section -->

      <!-- Services Section -->
      <section id="services" class="services section">
        <!-- Section Title -->
        <div class="container section-title" data-aos="fade-up">
          <h2>Services</h2>
          <p>Check our Services</p>
        </div>
        <!-- End Section Title -->

        <div class="container">
          <div class="row gy-4">
            <div
              class="col-lg-4 col-md-6"
              data-aos="fade-up"
              data-aos-delay="100"
            >
              <div class="service-item position-relative">
                <div class="icon">
                  <i class="bi bi-activity"></i>
                </div>
                <a href="service-details.html" class="stretched-link">
                  <h3>Nesciunt Mete</h3>
                </a>
                <p>
                  Provident nihil minus qui consequatur non omnis maiores. Eos
                  accusantium minus dolores iure perferendis tempore et
                  consequatur.
                </p>
              </div>
            </div>
            <!-- End Service Item -->

            <div
              class="col-lg-4 col-md-6"
              data-aos="fade-up"
              data-aos-delay="200"
            >
              <div class="service-item position-relative">
                <div class="icon">
                  <i class="bi bi-broadcast"></i>
                </div>
                <a href="service-details.html" class="stretched-link">
                  <h3>Eosle Commodi</h3>
                </a>
                <p>
                  Ut autem aut autem non a. Sint sint sit facilis nam iusto
                  sint. Libero corrupti neque eum hic non ut nesciunt dolorem.
                </p>
              </div>
            </div>
            <!-- End Service Item -->

            <div
              class="col-lg-4 col-md-6"
              data-aos="fade-up"
              data-aos-delay="300"
            >
              <div class="service-item position-relative">
                <div class="icon">
                  <i class="bi bi-easel"></i>
                </div>
                <a href="service-details.html" class="stretched-link">
                  <h3>Ledo Markt</h3>
                </a>
                <p>
                  Ut excepturi voluptatem nisi sed. Quidem fuga consequatur.
                  Minus ea aut. Vel qui id voluptas adipisci eos earum corrupti.
                </p>
              </div>
            </div>
            <!-- End Service Item -->

            <div
              class="col-lg-4 col-md-6"
              data-aos="fade-up"
              data-aos-delay="400"
            >
              <div class="service-item position-relative">
                <div class="icon">
                  <i class="bi bi-bounding-box-circles"></i>
                </div>
                <a href="service-details.html" class="stretched-link">
                  <h3>Asperiores Commodit</h3>
                </a>
                <p>
                  Non et temporibus minus omnis sed dolor esse consequatur.
                  Cupiditate sed error ea fuga sit provident adipisci neque.
                </p>
                <a href="service-details.html" class="stretched-link"></a>
              </div>
            </div>
            <!-- End Service Item -->

            <div
              class="col-lg-4 col-md-6"
              data-aos="fade-up"
              data-aos-delay="500"
            >
              <div class="service-item position-relative">
                <div class="icon">
                  <i class="bi bi-calendar4-week"></i>
                </div>
                <a href="service-details.html" class="stretched-link">
                  <h3>Velit Doloremque</h3>
                </a>
                <p>
                  Cumque et suscipit saepe. Est maiores autem enim facilis ut
                  aut ipsam corporis aut. Sed animi at autem alias eius labore.
                </p>
                <a href="service-details.html" class="stretched-link"></a>
              </div>
            </div>
            <!-- End Service Item -->

            <div
              class="col-lg-4 col-md-6"
              data-aos="fade-up"
              data-aos-delay="600"
            >
              <div class="service-item position-relative">
                <div class="icon">
                  <i class="bi bi-chat-square-text"></i>
                </div>
                <a href="service-details.html" class="stretched-link">
                  <h3>Dolori Architecto</h3>
                </a>
                <p>
                  Hic molestias ea quibusdam eos. Fugiat enim doloremque aut
                  neque non et debitis iure. Corrupti recusandae ducimus enim.
                </p>
                <a href="service-details.html" class="stretched-link"></a>
              </div>
            </div>
            <!-- End Service Item -->
          </div>
        </div>
      </section>
      <!-- /Services Section -->

      <!-- Call To Action Section -->
      <section
        id="call-to-action"
        class="call-to-action section dark-background"
      >
        <img src="{% static 'assets/img/cta-bg.jpg' %}" alt="" />

        <div class="container">
          <div
            class="row justify-content-center"
            data-aos="zoom-in"
            data-aos-delay="100"
          >
            <div class="col-xl-10">
              <div class="text-center">
                <h3>Call To Action</h3>
                <p>
                  Duis aute irure dolor in reprehenderit in voluptate velit esse
                  cillum dolore eu fugiat nulla pariatur. Excepteur sint
                  occaecat cupidatat non proident, sunt in culpa qui officia
                  deserunt mollit anim id est laborum.
                </p>
                <a class="cta-btn" href="#">Call To Action</a>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- /Call To Action Section -->

      <!-- Portfolio Section -->
      <section id="portfolio" class="portfolio section">
        <!-- Section Title -->
        <div class="container section-title" data-aos="fade-up">
          <h2>Categories</h2>
          <p>Check The Categories</p>
        </div>
        <!-- End Section Title -->

        <div class="container">
          <div
            class="isotope-layout"
            data-default-filter="*"
            data-layout="masonry"
            data-sort="original-order"
          >
            <ul
              class="portfolio-filters isotope-filters"
              data-aos="fade-up"
              data-aos-delay="100"
            >
              <li data-filter="*" class="filter-active">All</li>
              <li data-filter=".filter-app">Shoes</li>
              <li data-filter=".filter-product">Men</li>
              <li data-filter=".filter-branding">Women</li>
            </ul>
            <!-- End Portfolio Filters -->

            <div
              class="row gy-4 isotope-container"
              data-aos="fade-up"
              data-aos-delay="200"
            >
              <div
                class="col-lg-4 col-md-6 portfolio-item isotope-item filter-app"
              >
                <img
                  src="{% static 'assets/img/masonry-portfolio/masonry-portfolio-1.jpg' %}"
                  class="img-fluid"
                  alt=""
                />
                <div class="portfolio-info">
                  <h4>Product</h4>
                  <p>Lorem ipsum, dolor sit</p>
                  <a
                    href="{% static 'assets/img/masonry-portfolio/masonry-portfolio-1.jpg' %}"
                    title="App 1"
                    data-gallery="portfolio-gallery-app"
                    class="glightbox preview-link"
                    ><i class="bi bi-zoom-in"></i
                  ></a>
                  <a
                    href="{% static 'portfolio-details.html' %}"
                    title="More Details"
                    class="details-link"
                    ><i class="bi bi-link-45deg"></i
                  ></a>
                </div>
              </div>
              <!-- End Portfolio Item -->

              <div
                class="col-lg-4 col-md-6 portfolio-item isotope-item filter-product"
              >
                <img
                  src="{% static 'assets/img/masonry-portfolio/masonry-portfolio-2.jpg' %}"
                  class="img-fluid"
                  alt=""
                />
                <div class="portfolio-info">
                  <h4>Product 1</h4>
                  <p>Lorem ipsum, dolor sit</p>
                  <a
                    href="{% static 'assets/img/masonry-portfolio/masonry-portfolio-2.jpg' %}"
                    title="Product 1"
                    data-gallery="portfolio-gallery-product"
                    class="glightbox preview-link"
                    ><i class="bi bi-zoom-in"></i
                  ></a>
                  <a
                    href="{% static 'portfolio-details.html' %}"
                    title="More Details"
                    class="details-link"
                    ><i class="bi bi-link-45deg"></i
                  ></a>
                </div>
              </div>
              <!-- End Portfolio Item -->

              <div
                class="col-lg-4 col-md-6 portfolio-item isotope-item filter-branding"
              >
                <img
                  src="{% static 'assets/img/masonry-portfolio/masonry-portfolio-3.jpg' %}"
                  class="img-fluid"
                  alt=""
                />
                <div class="portfolio-info">
                  <h4>Brand 1</h4>
                  <p>Lorem ipsum, dolor sit</p>
                  <a
                    href="{% static 'assets/img/masonry-portfolio/masonry-portfolio-3.jpg' %}"
                    title="Branding 1"
                    data-gallery="portfolio-gallery-branding"
                    class="glightbox preview-link"
                    ><i class="bi bi-zoom-in"></i
                  ></a>
                  <a
                    href="{% static 'portfolio-details.html' %}"
                    title="More Details"
                    class="details-link"
                    ><i class="bi bi-link-45deg"></i
                  ></a>
                </div>
              </div>
              <!-- End Portfolio Item -->

              <div
                class="col-lg-4 col-md-6 portfolio-item isotope-item filter-app"
              >
                <img
                  src="{% static 'assets/img/masonry-portfolio/masonry-portfolio-4.jpg' %}"
                  class="img-fluid"
                  alt=""
                />
                <div class="portfolio-info">
                  <h4>Product</h4>
                  <p>Lorem ipsum, dolor sit</p>
                  <a
                    href="{% static 'assets/img/masonry-portfolio/masonry-portfolio-4.jpg' %}"
                    title="App 2"
                    data-gallery="portfolio-gallery-app"
                    class="glightbox preview-link"
                    ><i class="bi bi-zoom-in"></i
                  ></a>
                  <a
                    href="{% static 'portfolio-details.html' %}"
                    title="More Details"
                    class="details-link"
                    ><i class="bi bi-link-45deg"></i
                  ></a>
                </div>
              </div>
              <!-- End Portfolio Item -->

              <div
                class="col-lg-4 col-md-6 portfolio-item isotope-item filter-product"
              >
                <img
                  src="{% static 'assets/img/masonry-portfolio/masonry-portfolio-5.jpg' %}"
                  class="img-fluid"
                  alt=""
                />
                <div class="portfolio-info">
                  <h4>Product 2</h4>
                  <p>Lorem ipsum, dolor sit</p>
                  <a
                    href="{% static 'assets/img/masonry-portfolio/masonry-portfolio-5.jpg' %}"
                    title="Product 2"
                    data-gallery="portfolio-gallery-product"
                    class="glightbox preview-link"
                    ><i class="bi bi-zoom-in"></i
                  ></a>
                  <a
                    href="{% static 'portfolio-details.html' %}"
                    title="More Details"
                    class="details-link"
                    ><i class="bi bi-link-45deg"></i
                  ></a>
                </div>
              </div>
              <!-- End Portfolio Item -->

              <div
                class="col-lg-4 col-md-6 portfolio-item isotope-item filter-branding"
              >
                <img
                  src="{% static 'assets/img/masonry-portfolio/masonry-portfolio-6.jpg' %}"
                  class="img-fluid"
                  alt=""
                />
                <div class="portfolio-info">
                  <h4>Brand 2</h4>
                  <p>Lorem ipsum, dolor sit</p>
                  <a
                    href="{% static 'assets/img/masonry-portfolio/masonry-portfolio-6.jpg' %}"
                    title="Branding 2"
                    data-gallery="portfolio-gallery-branding"
                    class="glightbox preview-link"
                    ><i class="bi bi-zoom-in"></i
                  ></a>
                  <a
                    href="{% static 'portfolio-details.html' %}"
                    title="More Details"
                    class="details-link"
                    ><i class="bi bi-link-45deg"></i
                  ></a>
                </div>
              </div>
              <!-- End Portfolio Item -->

              <div
                class="col-lg-4 col-md-6 portfolio-item isotope-item filter-app"
              >
                <img
                  src="{% static 'assets/img/masonry-portfolio/masonry-portfolio-7.jpg' %}"
                  class="img-fluid"
                  alt=""
                />
                <div class="portfolio-info">
                  <h4>Product</h4>
                  <p>Lorem ipsum, dolor sit</p>
                  <a
                    href="{% static 'assets/img/masonry-portfolio/masonry-portfolio-7.jpg' %}"
                    title="App 3"
                    data-gallery="portfolio-gallery-app"
                    class="glightbox preview-link"
                    ><i class="bi bi-zoom-in"></i
                  ></a>
                  <a
                    href="{% static 'portfolio-details.html' %}"
                    title="More Details"
                    class="details-link"
                    ><i class="bi bi-link-45deg"></i
                  ></a>
                </div>
              </div>
              <!-- End Portfolio Item -->

              <div
                class="col-lg-4 col-md-6 portfolio-item isotope-item filter-product"
              >
                <img
                  src="{% static 'assets/img/masonry-portfolio/masonry-portfolio-8.jpg' %}"
                  class="img-fluid"
                  alt=""
                />
                <div class="portfolio-info">
                  <h4>Product 3</h4>
                  <p>Lorem ipsum, dolor sit</p>
                  <a
                    href="{% static 'assets/img/masonry-portfolio/masonry-portfolio-8.jpg' %}"
                    title="Product 3"
                    data-gallery="portfolio-gallery-product"
                    class="glightbox preview-link"
                    ><i class="bi bi-zoom-in"></i
                  ></a>
                  <a
                    href="{% static 'portfolio-details.html' %}"
                    title="More Details"
                    class="details-link"
                    ><i class="bi bi-link-45deg"></i
                  ></a>
                </div>
              </div>
              <!-- End Portfolio Item -->

              <div
                class="col-lg-4 col-md-6 portfolio-item isotope-item filter-branding"
              >
                <img
                  src="{% static 'assets/img/masonry-portfolio/masonry-portfolio-9.jpg' %}"
                  class="img-fluid"
                  alt=""
                />
                <div class="portfolio-info">
                  <h4>Brand 3</h4>
                  <p>Lorem ipsum, dolor sit</p>
                  <a
                    href="{% static 'assets/img/masonry-portfolio/masonry-portfolio-9.jpg' %}"
                    title="Branding 2"
                    data-gallery="portfolio-gallery-branding"
                    class="glightbox preview-link"
                    ><i class="bi bi-zoom-in"></i
                  ></a>
                  <a
                    href="{% static 'portfolio-details.html' %}"
                    title="More Details"
                    class="details-link"
                    ><i class="bi bi-link-45deg"></i
                  ></a>
                </div>
              </div>
              <!-- End Portfolio Item -->
            </div>
            <!-- End Portfolio Container -->
          </div>
        </div>
      </section>
      <!-- /Portfolio Section -->

      <!-- Contact Section -->
      <section id="contact" class="contact section">
        <!-- Section Title -->
        <div class="container section-title" data-aos="fade-up">
          <h2>Contact</h2>
          <p>Contact Us</p>
        </div>
        <!-- End Section Title -->

        <div class="container" data-aos="fade-up" data-aos-delay="100">
          <div class="row gy-4">
            <div class="col-lg-4">
              <div
                class="info-item d-flex"
                data-aos="fade-up"
                data-aos-delay="300"
              >
                <i class="bi bi-geo-alt flex-shrink-0"></i>
                <div>
                  <h3>Address</h3>
                  <p>Un-Named Area,Un-defined Street</p>
                </div>
              </div>
              <!-- End Info Item -->

              <div
                class="info-item d-flex"
                data-aos="fade-up"
                data-aos-delay="400"
              >
                <i class="bi bi-telephone flex-shrink-0"></i>
                <div>
                  <h3>Call Us</h3>
                  <p>+91 22222 55555</p>
                </div>
              </div>
              <!-- End Info Item -->

              <div
                class="info-item d-flex"
                data-aos="fade-up"
                data-aos-delay="500"
              >
                <i class="bi bi-envelope flex-shrink-0"></i>
                <div>
                  <h3>Email Us</h3>
                  <p>info@example.com</p>
                </div>
              </div>
              <!-- End Info Item -->
            </div>

            <div class="col-lg-8">
              <form
                action="forms/contact.php"
                method="post"
                class="php-email-form"
                data-aos="fade-up"
                data-aos-delay="200"
              >
                <div class="row gy-4">
                  <div class="col-md-6">
                    <input
                      type="text"
                      name="name"
                      class="form-control"
                      placeholder="Your Name"
                      required=""
                    />
                  </div>

                  <div class="col-md-6">
                    <input
                      type="email"
                      class="form-control"
                      name="email"
                      placeholder="Your Email"
                      required=""
                    />
                  </div>

                  <div class="col-md-12">
                    <input
                      type="text"
                      class="form-control"
                      name="subject"
                      placeholder="Subject"
                      required=""
                    />
                  </div>

                  <div class="col-md-12">
                    <textarea
                      class="form-control"
                      name="message"
                      rows="6"
                      placeholder="Message"
                      required=""
                    ></textarea>
                  </div>

                  <div class="col-md-12 text-center">
                    <div class="loading">Loading</div>
                    <div class="error-message"></div>
                    <div class="sent-message">
                      Your message has been sent. Thank you!
                    </div>

                    <button type="submit">Send Message</button>
                  </div>
                </div>
              </form>
            </div>
            <!-- End Contact Form -->
          </div>
        </div>
      </section>
      <!-- /Contact Section -->
    </main>

    <footer id="footer" class="footer dark-background">
      <div class="footer-top">
        <div class="container">
          <div class="row gy-4">
            <div class="col-lg-4 col-md-6 footer-about">
              <a href="index.html" class="logo d-flex align-items-center">
                <span class="sitename">TRENDIFY.</span>
              </a>
              <div class="footer-contact pt-3">
                <p>Un-Named Street</p>
                <p>India, SomeName Of Area</p>
                <p class="mt-3">
                  <strong>Phone:</strong> <span>+91 22222 55555</span>
                </p>
                <p>
                  <strong>Email:</strong> <span>sandyddeveloper@gmail.com</span>
                </p>
              </div>
              <div class="social-links d-flex mt-4">
                <a href=""><i class="bi bi-twitter-x"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>

            <div class="col-lg-2 col-md-3 footer-links">
              <h4>Useful Links</h4>
              <ul>
                <li>
                  <i class="bi bi-chevron-right"></i> <a href="#"> Home</a>
                </li>
                <li>
                  <i class="bi bi-chevron-right"></i> <a href="#"> About us</a>
                </li>
                <li>
                  <i class="bi bi-chevron-right"></i> <a href="#"> Services</a>
                </li>
                <li>
                  <i class="bi bi-chevron-right"></i>
                  <a href="#"> Terms of service</a>
                </li>
                <li>
                  <i class="bi bi-chevron-right"></i>
                  <a href="#"> Privacy policy</a>
                </li>
              </ul>
            </div>

            <div class="col-lg-2 col-md-3 footer-links">
              <h4>Our Services</h4>
              <ul>
                <li>
                  <i class="bi bi-chevron-right"></i>
                  <a href="#"> Web Design</a>
                </li>
                <li>
                  <i class="bi bi-chevron-right"></i>
                  <a href="#"> Web Development</a>
                </li>
                <li>
                  <i class="bi bi-chevron-right"></i>
                  <a href="#"> Logo Design</a>
                </li>
              </ul>
            </div>

            <div class="col-lg-4 col-md-12 footer-newsletter">
              <h4>Our Newsletter</h4>
              <p>
                Subscribe to our newsletter and receive the latest news about
                our products and services!
              </p>
              <form
                action="forms/newsletter.php"
                method="post"
                class="php-email-form"
              >
                <div class="newsletter-form">
                  <input type="email" name="email" /><input
                    type="submit"
                    value="Subscribe"
                  />
                </div>
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">
                  Your subscription request has been sent. Thank you!
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>

      <div class="copyright">
        <div class="container text-center">
          <p>
            © <span>Copyright2024</span>
            <strong class="px-1 sitename">TRENDIFY.</strong>
            <span>All Rights Reserved</span>
          </p>
          <div class="credits"></div>
        </div>
      </div>
    </footer>

    <!-- Scroll Top -->
    <a
      href="#"
      id="scroll-top"
      class="scroll-top d-flex align-items-center justify-content-center"
      ><i class="bi bi-arrow-up-short"></i
    ></a>

    <!-- Preloader -->
    <div id="preloader"></div>

    <!-- Vendor JS Files -->
    <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>
    <script src="{% static 'assets/vendor/aos/aos.js' %}"></script>
    <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
    <script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
    <script src="{% static 'assets/vendor/imagesloaded/imagesloaded.pkgd.min.js' %}"></script>
    <script src="{% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'assets/vendor/purecounter/purecounter_vanilla.js' %}"></script>

    <!-- Main JS File -->
    <script src="{% static 'assets/js/main.js' %}"></script>
  </body>
</html>
